*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(11, 198, 95, 0.3);
    backdrop-filter: blur(50px);
    z-index: 1;
}
.navbar a{
    font-size: 1.2rem;
    color: brown;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.23rem ;
}
.logo{
    text-decoration: none;
    color: blue;
    font-weight: 600 ;
     font-size: 2.23rem; 
}
.icons{
    position: absolute;
    right: 7%;
font-size: 2.3rem;
cursor: pointer;
display: none;
color: rgb(1, 15, 10);

}
#check{
    display: none;
}



.contents{
    margin-top: 80px;
    text-align: center;
}
h1{
      color: crimson;
}
p{
    line-height: 1.23;
    font-size: 20px;
}

.flex-container{
    display: flex;
}
.flex-items{
    width: 350px;
    border: 1px solid;
    margin: 10px;

}
img{
    width: 100%;

}
@media(max-width:992px){
     .header{
        padding: 1.3rem 5%;
     }

}
@media (max-width:768px){
    .icons{
        display: flex;
#close-icon{
          display: none;
}

    }
  #check:checked~ .icons #menu-icon{
    display: none;
  }
  #check:checked~ .icons #close-icon{
    display: block;
  }  

 .navbar{
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              background: blanchedalmond;
                 height: 0px;
                 display: none;
    }
    #check:checked~ .navbar{
        display: block;
        height: 15rem;
    } 
    .navbar a{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin: 1.5rem 0px;

    }
    p{
        line-height: 2.23;
        color: darkgreen;
        font-size: 30px;
    }
    .flex-container{
        display: block;
    }

}